<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlickedMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6614F1AD1E3430ED00786A11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6614F1C11E3430ED00786A11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6614F1CC1E3430ED00786A11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
